body.is-article-visible .about {
  transform: scale(0.95);
  filter: blur(0.1rem);
  opacity: 0;
}

body.is-loading .about {
  filter: blur(0.125rem);
}

body.is-loading .about > * {
  opacity: 0;
}

body.is-loading .about .content .inner {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}
