.v-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.4s ease;
  height: 80px;
  &-box {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4;
  }
  &.show, &:hover {
    background-color: #333545;
    box-shadow: 0 1px 40px -8px rgba(0,0,0,.5);
    .v-header-nav-box {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
    .v-header-nav-trigger {
      opacity: 1;
    }
    .v-header-login-notLogin {
      color: #ffffff;
    }
  }
  &-logo {
    display: inline-block;
    height: 100%;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: absolute;
    z-index: 3;
    margin-left: 5%;
    img {
      height: 60px;
      margin-top: 10px;
    }
  }
  // 菜单
  &-nav {
    padding: 0 5%;
    height: 100%;
    &-box {
      z-index: 1;
      transition: all 0.3s;
      width: auto;
      height: 80px;
      background: transparent;
      overflow: visible;
      float: right;
      opacity: 0;
      transform: translateX(20px);
      li {
        float: left;
        height: 100%;
        line-height: 1;
        padding: 0 0.4em;
        display: flex;
        align-items: center;
        color: #ffffff;
        a {
          color: #ffffff;
        }
        span {
          padding: .625em .8em;
          line-height: 1;
          border-bottom: none;
        }
      }
    }
    &-trigger {
      display: block;
      position: relative;
      z-index: 3;
      height: 40px;
      width: 40px;
      float: right;
      transition: all 0.3s;
      color: transparent;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      padding: 20px 10px;
      cursor: pointer;
      margin-top: 20px;
      opacity: 0;
      &:before, &:after {
        content: '';
        position: absolute;
      }
      &:before {
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) scale(0);
        height: 100%;
        width: 100%;
        background-color: #dd85ac;
        border-radius: 50%;
        transition: transform 0.3s;
      }
      &:after {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        transform: translateX(-50%) translateY(-50%);
        height: 28px;
        width: 28px;
        background: url(../../../assets/images/searchIcon.png) no-repeat;
        background-size: cover;
      }
      &.active {
        right: calc(5% + 116px);
        position: absolute;
        &:before {
          transform: translateX(-50%) translateY(-50%) scale(1);
        }
      }
    }
  }
  // 登录相关
  &-login {
    position: absolute;
    height: 100%;
    min-width: 60px;
    right: 20px;
    top: 0;
    z-index: 3;
    &-notLogin {
      color: #000000;
      height: 100%;
      cursor: pointer;
      i {
        font-size: 30px;
      }
    }
    &-isLogin {
      height: 100%;
      .user_info {
        height: 100%;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
  // 搜索面板
  &-search {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #14151c;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    &.active {
      animation: v-slide-in .3s;
      opacity: 1;
      visibility: visible;
      .cd-search-suggestions {
        transform-origin: center top;
        transform: translateZ(0);
        backface-visibility: hidden;
        animation: cd-3d-rotation .5s .3s;
        animation-fill-mode: backwards;
      }
    }
    &-warp {
      height: 100%;
      .form {
        position: relative;
        height: 100%;
        margin: 0 calc(5% + 116px) 0 calc(5% + 170px);
        input {
          font-size: 20px;
          height: 100%;
          background-color: transparent;
          padding-right: 170px;
          width: 100%;
          border: none;
          color: #ffffff;
        }
      }
      .cd-search-suggestions {
        position: absolute;
        top: 80px;
        left: 0;
        width: calc( 90% - 286px);
        padding: 2em;
        margin: 0 calc(5% + 116px) 0 calc(5% + 170px);
        background-color: #fff;
        box-shadow: 0 4px 40px rgba(0,0,0,.39);
        .news {
          float: left;
          width: calc(100% - 140px);
          h3 {
            margin-bottom: 1.5em;
            text-transform: uppercase;
            color: #7a7c86;
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: .1em;
          }
          li {
            position: relative;
            padding: 10px 20px 10px 60px;
            margin-bottom: .25em;
            .image-wrapper {
              position: absolute;
              left: 0;
              top: 50%;
              bottom: auto;
              transform: translateY(-50%);
              width: 50px;
              height: 50px;
              background-color: #0da4d3;
              img {
                max-width: 100%;
              }
            }
            h4 {
              font-weight: 700;
              font-size: 1.4rem;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

@keyframes v-slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes cd-3d-rotation {
  0% {
    transform: perspective(1000px) rotateX(-90deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg);
  }
}
